<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request header parser microservice</title>
    
</head>
<body>

    <h1 style="text-align: center;">Request header parser microservice</h2>
    <h3 style="text-align: center;">Example Usage:</h3>
    <code>
        <p style="text-align: center;"><a href="/api/whoiam" style="color:rgb(78, 78, 255); padding: 4px;background-color: rgba(128, 128, 128, 0.219);" >/api/whoami</a></p>
    </code>
    <h3 style="text-align: center;">Example Output:</h3>
    <code>
        <p style="text-align: center;"> <small style=" padding: 4px;background-color: rgba(128, 128, 128, 0.219);" >{"ipaddress":"51.77.111.201","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0"}</small> </p>
    </code>
</body>
<style>
    html{
        
        font-family: 'Courier New', Courier, monospace;
    }
</style>
</html>